.title-site,
.small-title{
  font-size: 20px;
  margin-bottom: 30px;
  @extend .bold;
  @include resp-max(sm){
  	font-size: 16px;
  	margin-bottom: 5px;
  }
}
span.small-title{
	display: inline-block;
}
.title-site{
	@extend .ultrabold;
}
.seo-text{
	font-size: 14px;
	&-p{
		font-weight: 100;
		&-hidden{
			overflow: hidden;
			max-height: 101px;
			text-overflow: ellipsis;
		}
	}
}
.h1{
  font-size: 20px;
  @extend .grey;
  @extend .bold;
}
.big-title{
	font-size: 20px;
	margin: 10px 0;
	@include resp-min(xs){
		font-size: 24px;
	}
	@extend .bold;
}