.tdu{
	text-decoration: underline;
}
.ttu{
	text-transform: uppercase;
}
.pointer{
	cursor: pointer;
}
.title-site,
.small-title{
  font-size: 20px;
  @extend .bold;
  @include resp-max(sm){
  	font-size: 16px;
  	margin-bottom: 5px;
  }
}
.small-title{
	margin-bottom: 30px;
	&.sm-23{
		margin-bottom: 23px;
	}
}
.title-site{
	margin-bottom: 24.5px;
}
span.small-title{
	display: inline-block;
}
.title-site{
	@extend .ultrabold;
}

.title{
	font-size: 18px;
  @include resp-min(xs){
  	font-size: 20px;
  }
  @extend .grey;
  @extend .bold;
  &-page{
  	margin: 25px 0;
  	&-main{
  		margin-bottom: 20px;
  	}
  }
}
.big-title{
	font-size: 20px;
	margin: 10px 0;
	@include resp-min(xs){
		font-size: 24px;
	}
	@extend .bold;
}