// VARIABLES
$columns         	: 12;
$width           	: 100%;
$gutter          	: 15px;
$container       	: 1170px;
$container-small 	: 1050px;

// COLOR
$colors:(
	"black"      		: #000,
	"grey"          : #333333,
	"br"            : #999999,
	"dark-grey"     : #666666,
	"light-grey"    : #e2e2e2,
	"middle-grey"   : #afafaf,
	"white"      		: #fff,
	"green"      		: #5bb85d,
	"corporative"		: #ff8001,
	"orange"        : #ff6600,
	"yellow"        : #ffdb2b,
	"very-l-blue"   : #7dccff,
	"light-blue"    : #00ace0,
	"middle-blue"   : #10c7be,
	"dark-blue"     : #1584cc,
	"darker-blue"   : #475995,
	"pink"          : #b942a4,
	"pink-light"    : #d640a8,
	"orange-dark"    : #e06618
);

// SIZE
$sizes: (
	text_smaller    : 12px,
	text_small      : 14px,
	text_default    : 18px,
	text_big   			: 21px,
	text_title      : 24px,
);