/* ===================== 
Start: BUTTON      
======================== */
.btn {
  border: none;
  border-radius: 3px;
  max-width: 100%;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  transition: all ease .5s;
  text-decoration: none;
  z-index: 2;
  @extend .block-inline;
  @extend .bold;
  @include size(text_default);
  @include color("white");
  &-effect{
   &:before{
      content: "";
      position: absolute;
      transition: all .3s;
      z-index: -1;
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%; 
      opacity: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }   
    &:hover{
      &:before{
        height: calc(450% - 40px);
        opacity: 1;
      }
    }
  }
  &-small{
    padding: 10px 25px;
    font-size: 14px;
  }
  &-big{
    @extend .medium;
    @include resp-min(xs){
      font-size: 23px;
      padding: 15px 35px;
    }
  }
  &-orange{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: map-get($colors, "orange");
      -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.23);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.23);
    box-shadow: 1px 1px 1px rgba(0,0,0,.23);
  }
  &-yellow{
    background-color: #ffdb2b;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,1,.26);
    -moz-box-shadow: 0 2px 2px rgba(0,0,1,.26);
    box-shadow: 0 2px 2px rgba(0,0,1,.26);
    color: #000;
  }
  &-entry{
    border: 1px solid #0b90cf;
    background-color: #fff;
    color: #0b90cf;
    display: block;
    margin: 35px auto 25px;
    padding: 10px 0;
    width: 220px;
    font-size: 13px;
    @extend .light;
  }
  &-buy{
    &:hover{
      background-color: map-get($colors, "light-blue");
    }
  }
  &-buy-wrap{
    position: relative;
    top: 15px;
  }
}
/* =====================
End:  BUTTON
======================== */  
.list{
  &-circle{
    padding-left: 15px;
    li{
      position: relative;
      padding-left: 15px;
      &:after{
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        left: 0;
        top: 50%;
        margin-top: -2.5px;
      }
    }
    &-blue{
      li{
        &:after{
          background-color: map-get($colors,"dark-blue");
        }
      }
    }
  }
}
.link-def{
  display: inline-block;
  text-decoration: none;
  @extend .dark-blue;
  border-bottom: 1px dashed map-get($colors, "very-l-blue");
}
.bg{
  &-grey{
    background-color: #f8f9fb;
  }
} 
.search-circle{
  @extend .relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 16px;
    margin-left: -7.5px;
    margin-top: -8px;
    @extend .sprite;
    background-position: -15px -110px;
  }
}
    
/* ===================== 
Start: NEWS      
======================== */
.news{
  // @include resp-min(md){
  //   &-wrap{
  //     margin-left: -15px;
  //     margin-right: -15px;
  //   }
  // }

  &-even{
    .news-b{
      @include resp-min(md){
        
      }
      &-img{
        top: 0;
      }
      &-text{
        bottom: 0;
      }
      &-text{
        background-color: map-get($colors, "light-blue");
        @extend .white;
      }
    }
  }
  &-odd{
    .news-b{  
      &-img{
        bottom: 0;
      }
      &-text{
        top: 0;
      } 

      &-text{
        background-color: map-get($colors, "light-grey");
        &--text{
          color: #282828;
        }
        &--time{
          color: #999999;
        }
      }
    }
  }
  &-b{
    @extend .relative;
    position: relative;
    min-height: 398px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    &-text,
    &-img{
      position: absolute;
      left: 0;
      width: 100%;
      height: 200px;
    }
    
    &-img{      
      overflow: hidden;
      img{
        height: 100%;
        max-height: 100%;
        
        width: 280px;
        max-width: none;
        margin-left: -5px;
      }
    }
    &-text{
      padding: 15px;
      &--title{
        @extend .bold;
        font-size: 16px;
        max-height: 66px;
      }
      &--title,
      &--text{
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--text{
        max-height: 55px;
      }
      &--time,
      &--text{
        @extend .light;
      }
    }
    a{
      display: block;
      color: inherit;
      height: 100%;
    }
    @include resp-max(md){
      margin-bottom: 15px;
    }
    @include resp-min(md){
      width: 100%;
      @include resp-max(lg){
        min-height: 300px;
        &-img{
          height: 125px;
        }
      }
    }
    @include resp-min(lg){
      min-height: 400px;
      &-img{
        height: 200px;
        img{
          
        }
      }
    }
  }
}
/* =====================
End:  NEWS
======================== */
    
/* ===================== 
Start: SHOW MORE      
======================== */
%show-more{
  @extend .link-def;
  &:hover{
    cursor: pointer;
    @extend .pink;
    border-bottom-color: transparent;
  }
}
.show-more{
  &-big,
  &-small{
    @extend %show-more;
  }
  &-big{
    font-size: 18px;
  }
  &-wrap{
    margin-top: 35px;
    @extend .text-center;
  }
}
/* =====================
End:  SHOW MORE
======================== */
    
/* ===================== 
Start: LEADER      
======================== */
.hover-blue{
  &:hover{
    background-color: map-get($colors, "darker-blue");
    @extend .white;
  }
}
.leader{
  background-color: map-get($colors, "light-blue");
  padding: 15px 7.5px;
  @include resp-min(sm){
    padding: 25px 0;
  }
  &-category{
    margin: 30px 0;
    clear: both;
    @include resp-max(sm){
      background-color: #3bbdc5;
    }
  }
  &-wrap{
    @include resp-max(xs){
      padding: 0;
    }
  }
  &-inf{
    &-text{
      @include color("white");
      &--name{
        font-size: 16px;
        @extend .medium;
      }
      &--pos{
        font-size: 14px;
        @extend .light;
      }
    }
  }
  @include resp-min(xs){
    @include resp-max(sm){
      &-inf, &-text{
        text-align: center;
      }
      &-text{
        &-title{
          font-size: 25px;
        }
        &-act{
          font-size: 16px;
        }
      }
    }
  }
  @include resp-max(xs){
    &-inf{
      &-img{
        margin-right: 15px;
        img{
          width: 50px;
        }
      }
      &-img, &-text{
        display: inline-block;
        vertical-align: top;
      }
    }
    &-text{
      &-title{
        font-size: 21px;
        line-height: 1;
      }
      &-act{
        font-size: 14px;
      }
    }
  }
  &-text{
    @include color("white");   
    &-title{
      @extend .bold;
      margin-bottom: 10px;
    }
    &-act{
      @extend .light;
    }
    @include resp-min(sm){
      &-title{
        font-size: 36px;
      }
      &-act{
        font-size: 18px;
      }
    }
    &-img{
      display: inline-block;
      width: 109px;
      height: 9px;
      margin: 15px 0 7.5px;
      @extend .sprite;
      background-position: -140px -238px;
    }
    &-form{
      &-input-wrap{
        display: inline-block;
        @extend .relative;
        &:after{
          content: "";
          position: absolute;
          left: 10px;
          top: 50%;
          margin-top: -10px;
          width: 13px;
          height: 20px;
          @extend .sprite;
          background-position-y: -200px;
          background-position-x: -140px;
        }
        &-active{
          &:after{
            background-position-x: -159px;
          }
        }
      }
      &.big{
        margin-top: 7.5px;
        input, button{
          @include resp-min(xs){
            min-width: 195px;
          }
        }
      }
      input,button{
        -webkit-box-shadow: 1px 2px 2px rgba(0,0,1,.26);
        -moz-box-shadow: 1px 2px 2px rgba(0,0,1,.26);
        box-shadow: 1px 2px 2px rgba(0,0,1,.26);
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        

      }
      input{
        background-color: map-get($colors, "white");
        padding-left: 35px;
        height: 38px;
        margin-right: 10px;
        font-size: 14px;
        
        
        @include resp-min(xs){
          position: relative;
          top: -1px;
          font-weight: 700;
        }
        @include resp-max(xs){
          max-width: 134px;
          font-weight: 500;
        }
      }
      button{
        display: inline-block;
        background-color: map-get($colors, "yellow");
        text-align: center;
        font-size: 16px;
        @extend .bold;
        @extend .hover-blue;
        @include resp-max(xs){
          padding: 10px;
          font-size: 14px;
        }
      }
    }
  }
  &-shape{
    position: absolute;
    bottom: 25px;
    right: 25px;
    @include resp-max(sm){
      display: none;
    }
  }
  @include resp-min(sm){
    &-inf{
      text-align: center;
    }
    @include resp-max(md){
      &-inf,
      &-text{
        text-align: center;
      }
      &-shape{
        width: 140px;
      }
    }
  }
}
/* =====================
End:  LEADER
======================== */
    
/* ===================== 
Start: BOX      
======================== */
.delivery-payment-wrap{
  @include resp-max(sm){
    .box{
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 15px;
    }
  }
}
.box{
  padding: 10px;
  @include resp-max(xs){
    margin-bottom: 10px;
  }
  &-padding{
    padding: 15px;
  }
  &-grey{
   @extend .bg-grey;
  }
  &-inner{
    @include resp-min(sm){
      &-d-p{
        min-height: 200px;
      }
    }
    @include resp-max(sm){
      &-d-p{
        padding: 15px 5px;
      }
    }
    @include resp-min(xs){
      border: 5px solid #fff;
      padding: 7.5px;
    }
  }
  @include resp-min(lg){
    padding: 10px;  
    &-inner{
      padding: 15px;
    }
  }
  &-title{
    @extend .text-center;
    @extend .bold;
    margin-bottom: 25px;
    @include resp-min(xs){
      font-size: 20px;
    }
    @include resp-max(xs){
      font-size: 18px;
    }
    &.small{
      text-align: left;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  &-deliv, &-pay{
    @extend .relative;  
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      @extend .sprite;
    }
    p{
      font-size: 14px;
    }
  }
  &-deliv{
    padding-left: 30px;
    &-city{
      &:after{
        width: 22px;
        height: 22px;
        background-position: -106px -44px;
      }
    }
    &-mail{
      &:after{
        width: 23px;
        height: 22px;
        background-position: -151px -46px;
      }
    }
  }
  &-pay{
    margin-bottom: 10px;
    padding-left: 25px;
    &-cour{
      &:after{
        width: 13px;
        height: 22px;
        background-position: -17px -44px;
      }
    }
    &-sber{
      &:after{
        width: 15px;
        height: 15px;
        background-position: -15px -84px;
      }
    }
    &-money{
      &:after{
        width: 13px;
        height: 12px;
        background-position: -73px -48px;
      }
    }
    &-pay{
      &:after{
        width: 14px;
        height: 11px;
        background-position: -45px -49px;
      }
    }
    &-card{
      &:after{
        width: 14px;
        height: 10px;
        background-position: -45px -87px;
      }
    }
  }
}
/* =====================
End:  BOX
======================== */

    
/* ===================== 
Start: CATEGORY      
======================== */
.category-parent{
  .aside-menu{
    display: none;
  }
}
/* =====================
End:  CATEGORY
======================== */
        
/* ===================== 
Start: PRODUCT      
======================== */
    
/* ===================== 
Start: FILTER      
======================== */
.show-filter,
.filter-responsive-wrap{
  margin-bottom: 15px;
}
.show-sort-block-list{
  margin-top: 15px;
}
.sort{
  &-block{
    @extend .cf;
    margin-bottom: 15px;
    &-list{
      text-align: left;
      @include resp-max(sm){
        display: none;
      }
      &.nav{
        min-height: 45px;
        @include resp-max(sm){
          display: block;
        }
      }
      li{
        display: inline-block;
        margin: 0 5px;
        padding: 5px 15px;
        @include resp-max(sm){
          margin: 15px 5px;
          display: block;
        }
        background-color: #f8f9fb;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        // &:first-child{
        //   padding-left: 0;
        // }
        a{
          @extend .link-def;
        }
        &.active{
          background-color: transparent;
          a{
            font-size: 20px;
            @extend .grey;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
}
/* =====================
End:  FILTER
======================== */
    
/* ===================== 
Start: ITEM      
======================== */
.product-box{
  &-grid{
    .item{
      &-b{
        @include resp-min(tp){
          min-height: 350px;
        }
        &-wrap{
          @extend .col-md-4;
          @extend .col-tp-6;
          @extend .col-sm-6;
        }
        &-img{
          height: 175px;
        }
        &-link{
          margin-bottom: 15px;
        }
        &-manufacturer{
          display: none;
        }
        &-footer{
          @extend .cf;
        }
      }
    }
  }
  &-list{
    .item{
      &-b{
        @extend .cf;
        &-img{
          height: 75px;
        }
        
        @include resp-min(lg){
          &-name{
            width: 240px;
            .item-b-link{
              width: 180px;
            }
          }
          &-manufacturer{
            width: 225px;
          }
        }
        @include resp-min(tp){
          &-img,
          &-name,
          &-manufacturer,
          &-footer{
            display: inline-block;
            padding: 0 15px;
            margin-left: -0.5em;
            vertical-align: middle;
          }
          @include resp-max(sm){
            &-name,
            &-footer{
              width: 40%;
            } 
          }
          @include resp-max(lg){
            &-name,
            &-manufacturer,
            &-footer{
              width: 28%;
            }
          }
        }
        @include resp-max(sm){
          &-wrap{
            padding: 0;
          }
          &-manufacturer{
            display: none;
          } 

          .item-price{
            text-align: center;
          }
        }
        @include resp-max(tp){
          &-img,
          &-name,
          &-footer{
            float: left;
          }
          &-img,
          &-name{
            width: 50%;
          }
          &-footer{
            width: 100%;
            margin-top: 10px;
          }
        }
      }
      &-choose-color{
        display: none;
      }
    }
  }
}
.item{
  &-b{
    border: 1px solid #fbfbfb;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    @extend .relative;
    transition: all ease .5s;
    &:hover{
      -webkit-box-shadow: 0 0 16px rgba(0,0,0,.16);
      -moz-box-shadow: 0 0 16px rgba(0,0,0,.16);
      box-shadow: 0 0 16px rgba(0,0,0,.16);
    }
    &-tag{
      position: relative;
      display: block;
      margin-bottom: 35px;
      text-align: center;
      @include color("white");
      &-wrap{
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 2;
      }
      span{
        display: block;
        position: relative;
        top: 5px;
        left: 10px; 
        text-align: left;
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        @extend .sprite;
        min-height: 46px;
        z-index: -1;
      }
      &-rec{
        &:after{
          width: 106px;
          background-position:  0 -260px;
        }
      }
      &-pop{
        &:after{
          width: 89px;
          background-position: -115px -260px;
        }
      }
      &-new{
        &:after{
          width: 89px;
          background-position: -113px -319px;
        }
      }
      &-akciya{
        &:after{
          width: 76px;
          background-position: -3px -319px;
        }
      }
    }
    &-img{
      text-align: center;
      img{
        max-height: 100%;
      }
    }
    &-link{
      display: block;
      font-size: 16px;
      @extend .bold;
      @extend .grey;
      text-decoration: none;
      height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    &-wrap{
      float: left;
      padding-left: 15px;
      padding-right: 15px;

      @extend .col-xs-12;
    }
  }
  
  &-price,
  &-btn{
    display: inline-block;
    margin-left: -0.5em;
    width: 50%;
    vertical-align: middle;
  }
  &-btn{
    @extend .text-center;
  }
  &-price{
    &--old{
      @extend .dark-grey;
      @extend .relative;
      display: inline-block;
      &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #ffaaaa;
      }
    }
    &--new{
      font-size: 18px;
    }
  }
  &-shop{
    display: inline-block;
    padding: 7px 15px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f60;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.23);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.23);
    box-shadow: 1px 1px 1px rgba(0,0,0,.23);
    @extend .white;
    @extend .roboto;
    @extend .medium;
    font-size: 14px;
    text-align: center;
    min-width: 125px;
  }
  &-choose-color{
    padding-bottom: 20px;
    p{
      margin-right: 5px;
    }
    ul, li, p, a{
      display: inline-block;
      vertical-align: top;
    }
    li{
      a{
        width: 19px;
        height: 19px;
        border: 1px solid #f4f4f4;
      }
    }
  }
}
/* =====================
End:  ITEM
======================== */
/* ===================== 
Start: SLIDER      
======================== */
.slider-main{
  border: 8px solid map-get($colors, "light-blue");
  @include resp-min(sm){
    height: 280px;
    &-text{
      padding: 30px;
    }
    &-text,
    &-img{
      height: 265px;
      img{
        width: 100%;
      }
    }
  }
  @include resp-max(sm){
    margin-bottom: 20px;
  }
  &-text,
  &-img{
    width: 50%;
    float: left;
  }
  &-text{
    @extend .grey;
    @include resp-max(sm){
      padding: 50px 0 0px 20px;
    }
    &-title{
      @extend .bold;
      font-size: 16px;
      @include resp-min(tp){
        @include resp-max(sm){
          font-size: 30px;
        }
      }
      @include resp-min(sm){
        font-size: 36px;
      }
    }
  }
  &-img{
    border-left: 8px solid map-get($colors, "light-blue");
    position: relative;
    @include resp-max(sm){
      overflow: hidden;
      min-height: 180px;
      img{
        position: absolute;
        max-width: none;
        left: -100px;
        top: 0;
      }
    }
    
  }
  .owl{
    &-pagination{
      position: absolute;
      bottom: 0px;
      left: 10px;
      @include resp-min(sm){
        bottom: 15px;
        left: 25px;
      }
    }
    &-buttons{
      position: absolute;
      top: 50%;
      margin-top: -17.5px;
      left: 0;
      width: 100%;
    }
    &-page{
      span{
        border: 3px solid map-get($colors, "orange");
        background-color: transparent;
      }
      &.active{
        span{
          border-color: transparent;
          background-color: map-get($colors, "light-blue");
        }
      }
    }
    &-prev,
    &-next{
      position: absolute;
      background-color: map-get($colors, "light-blue");
      @include resp-min(sm){
        width: 35px;
        height: 35px;
        border-radius: 100%;
        &:after{
          margin-left: -6px;
          margin-top: -10.5px;
          width: 12px;
          height: 21px;
          background-position: -196px -46px;
        }
      }
      @include resp-max(sm){
        width: 17px;
        height: 38px;
        &:after{
          width: 10px;
          height: 14px;
          margin-top: -7px;
          margin-left: -5px;
          background-position: -213px -50px;
        }
      }
      &:after{
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        @extend .sprite;
      }
    }
    &-prev{
      &:after{
        transform: rotate(-180deg);
      }
    }
    @include resp-min(sm){
      &-prev{
        left: -19px;
      }
      &-next{
        right: -19px;
        left: auto;
      }
    }
    @include resp-max(sm){
      &-prev{
        left: -5px;
        border-radius: 0 10px 10px 0;
      }
      &-next{
        border-radius: 10px 0 0 10px;
        right: -5px;
        left: auto;
      }
    }
  }
}
/* ===================== 
End: SLIDER      
======================== */

/* ===================== 
Start: OFFER      
======================== */
.offer{
  &-w{
    @include resp-max(sm){
      text-align: center;
    }
  }
  &-b{
    width: 100%;
    display: inline-block;
    vertical-align: top;

    &-i{
      text-align: center;
      margin-bottom: 10px;
    }
    &-title{
      text-align: center;
      font-size: 16px;
      @include resp-min(lg){
        font-size: 19px;  
      }
      line-height: 1;
      margin-bottom: 10px;
      @extend .bold;
    }
    @include resp-min(tp){
      padding: 15px;
      @include resp-max(sm){
        width: 50%;
        margin-left: -0.5em;
        &-wrap{
          text-align: center;
        }
        .box-inner{
          min-height: 210px;
        }
      }
    }
    @include resp-min(sm){
      float: left;
      width: 33.33333%;
      &-title,
      &-i{
        margin-bottom: 20px;
      }
      &-title{
        min-height: 38px;
      }
      &-text{
        min-height: 72px;
      }
    }
    @include resp-max(sm){
      margin-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      .box{
        padding: 10px 10px 10px 30px;
      }
    }
    @include resp-max(xs){
      &-text,
      &-title{
        text-align: left;
      }
      &-i{
        float: left;
        width: 33px;
        margin-right: 10px;
      }
    }
  }
}
/* =====================
End:  OFFER
======================== */
/* =====================
Start:  VIDEO AND REVIEW MAIN
======================== */
.no-p{
  padding: 0 !important;
}
@include resp-max(md){
  .max-md-no-p{
    padding: 0 !important;
  }
  .r-v-wrap{
    margin-top: 25px;
    // .small-title{
    //   margin-left: 15px;
    // }
  }
}
@include resp-max(sm){
  .max-sm-no-p{
    padding: 0 !important;
  }
  .max-sm-negative{
    margin-left: -15px;
    margin-right: -15px;
  }
}
%border-r-v{
  border-style: solid;
  border-color: #e2e2e2;
  @include resp-min(sm){
    border-width: 10px;
  }
  @include resp-max(sm){
    border-top-width: 10px;
    border-right-width: 15px;
    border-bottom-width: 10px;
    border-left-width: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }

}
.main{
  &-review{
    &-wrap{
      @extend %border-r-v;
    }
  }
  &-video{
    @extend %border-r-v;
    @extend .relative;
    // @include bg("../img/main-video.png", center top, no-repeat, cover);
    img{
      height: 100%;
      width: 100%;
    }
    @include resp-max(sm){
      height: 200px;
      overflow: hidden;
      img{
        position: absolute;
        height: auto;
      }
    }
    &-btn{
      @include after_center(80px,80px);
      border: 5px solid #fff;
      border-radius: 100%;
      background-color: rgba(0, 172, 224, 0.65);
      &:after{
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 23px;
        margin-left: -8px;
        margin-top: -11.5px;
        background-position: -89px -111px;
        @extend .sprite;
      }
    }
  }

  @include resp-min(md){
    &-video{
      border-right-width: 5px;
    }
    &-review{
      &-wrap{
        border-left-width: 5px;
      }
    }
    &-review{
      &-text{
        height: 220px;
        overflow: hidden;
      }
    }
  }
  @include resp-min(sm){
    &-video{
      min-height: 350px;
      img{
        position: absolute;
      }
    }
    &-review{
      &-wrap{
        min-height: 350px;
      }
    }
  }
  &-review{
    &-link{
      font-size: 14px;
      position: relative;
      margin-left: 15px;
      @extend .dark-blue;
      &:after{
        content: "";
        position: absolute;
        left: -10px;
        top: -6px;
        width: 1px;
        height: 27px;
        background-color: #e2e2e2;
      }
    }
    &-header{
      @extend .relative;
      padding-left: 50px;
      margin-bottom: 10px;
      &--title{
        font-size: 16px;
        @extend .bold;
      }
      &--city{
        font-size: 14px;
        @extend .light;
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        @extend .sprite;
        width: 34px;
        height: 32px; 
        background-position: -106px -82px;
      }
    }
    &-text{
      font-size: 14px;
      @extend .light;
      
      p{
        text-overflow: ellipsis;
      }
    }
    &-wrap{
      padding: 25px;
      position: relative;
      .owl{
        &-carousel{
          position: static;
        }
        &-controls{
          display: block !important;
          position: absolute;
          top: -50px;
          right: 0;
          @include resp-min(sm){
            right: -10px;
          }
        }
        &-prev,
        &-next{
          width: 40px;
          height: 40px;
          position: relative;
          background-color: map-get($colors, "light-blue");
          &:hover{
            background-color: #0084ac;
          }
          &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -6px;
            margin-top: -10.5px;
            width: 12px;
            height: 21px;  
            @extend .sprite;
            background-position: -196px -46px; 
          }
        }
        &-prev{
          &:after{
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}
.review-no-p{
  padding: 0 !important;
}
/* =====================
End:  VIDEO AND REVIEW MAIN
======================== */

/* =====================
End:  PRODUCT
======================== */
.menu{
  > ul{
    > li{
      padding: 3px 0;
      border-bottom: 1px solid #f4f4f4;
      position: relative;
    }
  }
  ul{
    li{
      margin-bottom: 5px;
      &.opened-menu{
        // .child-list{
        //   display: block;
        // }
        .icon{
          &:after{
            transform: rotate(-180deg);
            @include resp-min(md){
                transform: rotate(90deg);
            }
          }
        }
      }
      &.active{
        
      }
      &.has-child{
        .icon{
          position: absolute;
          right: 10px;
          top: 7.5px;
          cursor: pointer;
          width: 20px;
          height: 20px;
          &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            @extend .sprite;
            @include resp-min(md){
              width: 6px;
              height: 10px; 
              margin-left: -3px;
              margin-top: -5px;
              background-position: -78px -117px;
            }
            @include resp-max(md){
              margin-top: -8.5px;
              margin-left: -8.5px;
              width: 17px;
              height: 17px;
              background-position: -43px -111px;
            }
          }

        }
      }
      &:last-child{
        border-bottom: none;
      }
      a{
        display: block;
        padding: 5px 0px 5px 50px;
        font-size: 16px;
        @extend .grey;
        text-decoration: none;
      }

    }
    &.child-list{
      display: none;
      li{
        padding-left: 10px;
        a{
          font-size: 14px;
        }
      }
    }
  }
}
//ASIDE
.aside{
  
  &-img{
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    text-align: center;
    height: 30px;
    margin-top: -15px;
    width: 30px;
    img{
      width: 25px;
      height: 25px;
    }
  }
  > div{
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &-title{
    @extend .bold;
    font-size: 16px;
    margin-bottom: 15px;
  }
  &-brand{
    a{
      display: inline-block;
      width: 50%;
      margin-left: -0.5em;
      text-align: center;
      min-height: 40px;
      @extend .vertical-image;
    }
    img{
      max-width: 100px;
    }
  }
  &-pickup{
    @extend .bg-grey;
    padding: 15px;
    &-block{
      margin-bottom: 10px;
      &-link{
        @extend .link-def;
        margin-bottom: 10px;
        font-size: 14px;
        @extend .relative;
        &:hover{
          cursor: pointer;
        }
        &:after{
          content: "";
          position: absolute;
          right: -20px;
          top: 50%;
          margin-top: -3px;
          @extend .sprite;
          width: 10px;
          height: 6px;  
          background-position: -65px -119px;  
          transition: all ease .5s;
        }
        &.active{
          &:after{
            transform: rotate(180deg);
          }
        }
      }
      &-inner{
        display: none;
      }
    }
  }
}
    
/* ===================== 
Start: BREADCRUMBS      
======================== */
.breadcrumbs{
  height: 20px;
  overflow: hidden;
  li{
    display: inline-block;
    padding-right: 20px;
    @extend %relative;
    @include resp-max(sm){
      &:nth-child(n+3){
        display: none;
      }
      &:nth-child(2){
        &:after{
          display: none;
        }
      }
    }
    a{
      @include color("br");
      text-decoration: underline;
      font-size: 12px;
    }
    &:after{
      content: ">";
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -8.5px;
      @extend .roboto;
      @include color("br");
      font-size: 12px;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}
/* =====================
End:  BREADCRUMBS
======================== */

    
/* ===================== 
Start: CART PAGE      
======================== */
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table {
  width: 100%;
  max-width: 100%;
}
.table-bordered {
  border: 1px solid #ededed;
  tr{
    border-bottom: 1px solid #ededed;
    &:last-child{
      border-bottom: none;
    }
  }
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 8px;
  line-height: 1.42857143;
}
.input-group{
  display: inline-block;
  vertical-align: middle;
  max-width: 70px;
  text-align: center;
  &-btn{
    vertical-align: middle;
    position: relative;
    top: 2px;
    .minus,
    .plus{
      display: inline-block;
      width: 7px;
      height: 11px;
      @extend .sprite;
      transition: none;
      background-position: -112px -117px;
      &:hover{
        background-position: -159px -117px;
      }
    }
    .minus{
      transform: rotate(-180deg);
    }
  }
}
.cart{
  &-buy-btn{
    margin-top: 20px;
    .btn-big{
      font-size: 23px;
      min-width: 260px;
      padding: 15px 40px;
      margin: 0 auto;
    }
  }
  @include resp-min(sm){
    &-name{
      width: 250px;
      min-width: 250px;
    }
    &-price{
      min-width: 100px;
    }
    &-count{
      min-width: 190px;
    }
  }
  &-image{
    width: 100px;
    img{
      max-width: 74px;
      max-height: 55px;
    }
  }
  &-name{
    font-size: 16px;
    
    vertical-align: top;
    @extend .medium;
    a{
      color: inherit;
      text-decoration: none;
    }
  }
  &-price{
    font-size: 18px;
    @extend .bold;
  }
  &-count{
    &-q{
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      @extend .bold;
      margin-left: 25px;
      @include resp-min(sm){
        margin-left: 50px;
      }
    }
  }
  &-quantity{
    display: inline-block;
    vertical-align: middle;
    width: 29px;
    height: 27px;
    margin: 0 5px;
    border: 1px solid #f9f9f9;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 2px rgba(0,0,1,.26);
    -moz-box-shadow: 1px 2px 2px rgba(0,0,1,.26);
    box-shadow: 1px 2px 2px rgba(0,0,1,.26);
  }
  &-delete{
    &-btn{
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 11px;
      @extend .sprite;
      background-position: -124px -117px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  &-summary{
    padding: 23.5px;
    margin-bottom: 15px;
    font-size: 20px;
    @extend .bold;
    &-total{
      
    }
  }
  &-info-b{
    margin-bottom: 35px;
  }
  &-table{
    @include resp-max(sm){
      td{
        float: left;
      }
      .cart{
        &-image{
          width: 30%;
        }
        &-name{
          width: 70%;
          min-height: 80px;
        }
        &-price{
          width: 33.333333%;
        }
        &-delete{
          width: 16.66667%;
          &-btn{
            margin-top: 5px;
          }
        }
        &-count{
          width: 50%;
        }

      }
      .cart-price,
      .cart-count,
      .cart-delete{
        text-align: center;
        min-height: 43px;
      }
    }
  }
  &-box{
    @include resp-min(lg){
      .box-inner{
        min-height: 520px;
      }
    }
  }
  &-buttons{
    .btn{
      padding: 10px 25px;
      font-weight: 100;
      font-size: 14px;
    }
  }
}
.go-buy{
  border: none;
  background-color: transparent;
  font-size: 14px;
  @include resp-min(xs){
    margin-left: 25px;
  }
  @include resp-max(xs){
    margin-top: 10px;
  }
  @extend .dark-blue;
  border-bottom: 1px solid map-get($colors, "dark-blue");
}
/* =====================
End:  CART PAGE
======================== */
.radio{
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    &:before{
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -7.5px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
    }
    &.box-deliv{
      padding-left: 55px;
      &:after{
        left: 25px;
      }
    }
    span{
      display: none;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -2.5px;
      
      width: 5px;
      height: 5px;
      -webkit-border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;
      -moz-border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;
      border-radius: 2px 3px 3px 2px/2px 2px 3px 3px;
      background-color: #1584cc;
    }
  }
  input[type=radio] {
    display: none;
    &:checked + label:before{
      border-color: #00ace0;
    }
    &:checked + label span{
      display: inline-block;
    }
  }
  &-input-parent{
    padding: 5.5px 15px;
    border: 2px solid transparent;
    border-radius: 50px;
    margin-bottom: 10px;
    display: inline-block;
    &-active{
      border-color: #7ad1d7;
    }
  }
}
.default-input{
  background-color: #fff;
  border: 1px solid #f2f2f3;
  padding: 15px;
  color: #999999;
  width: 100%;
  @extend .roboto;
  &.small{
    border-radius: 3px;
    padding: 5px 10px;
  }
}
input{
  max-width: 100%;
}
.input-wrap{
  margin-bottom: 10px;
}
.required{
  color: #ff0000;
}
.def-form{
  &-row{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  input{
    margin-bottom: 5px;
  }
  textarea,
  input{
    @extend .default-input;
  }
  textarea{
    resize: none;
  }
}
.form-modal{
  input{
    @extend .default-input;
    @extend .default-input.small;
  }
}
.delivery-p-wrap{
  @include resp-min(sm){
    margin-bottom: 15px;
  }
}
.pr-c-margin{
  margin-bottom: 40px;
}
.default-pr-c{
  .item-b{
    @extend .cf;
  }
}
.product{
  &-carousel{
    
    .owl{
      &-buttons{
        position: absolute;
        left: 0;
        width: 100%;
      }
      
      &-prev,
      &-next{
        position: absolute;
        top: 0;
        &:after{
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          @extend .sprite;
        }
      }
      &-prev{
        transform: rotate(-180deg);
      }
      &-next{
        right: 0;
        left: auto;
        
      }
      @include resp-min(tl){
        @include resp-max(lg){
          &-buttons{
            top: -25px;
          }
          &-prev{
            right: 40px;
            left: auto;
          }
        }
        &-prev,
        &-next{
          &:after{
            width: 24px;
            height: 40px;
            margin-left: -12px;
            margin-top: -20px;
            background-position: -179px -190px;
          }
        }
      }
      @include resp-max(tl){
        &-buttons{
          top: 50%;
          margin-top: -40px;
        }
        &-prev{
          left: 0;
        }
        &-prev,
        &-next{
          border-radius: 10px 0px 0px 10px;
          width: 15px;
          height: 40px;
          background-color: map-get($colors, "light-blue");
          &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 10px;
            height: 14px;
            margin-top: -7px;
            margin-left: -5px;
            background-position: -213px -50px;
          }
        }
      }
      @include resp-min(lg){
        &-buttons{
          top: 50%;
          margin-top: -20px;         
        }
        &-prev{
          left: -50px;
        }
      } 
    }
  }
}
.product{
  &-image-info{
    border: 1px solid #fafafa;
    @include resp-max(sm){
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &-image{
    padding: 15px;
    &-big{
      text-align: center;
      @include resp-min(sm){
        min-height: 330px;
      }
      img{
        max-height: 100%;
      }
    }
    &-carousel{
      text-align: center;
      margin: 0 auto;
      li{
        margin-right: 10px;
      }
      img{
        cursor: pointer;
        max-width: 90px;
      }
      &-wrap{
        @extend .relative;
        .control{
          position: absolute;
          width: 100%;
          left: 0;
          top: 50%;
          margin-top: -25px;
        }
        .next,
        .prev{
          position: absolute;
          width: 50px;
          height: 50px;
          cursor: pointer;
          &:after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 14px;
            height: 22px;
            margin-left: -7px;
            margin-top: -11px;
            @extend .sprite;
            background-position: -211px -202px;
          }
        }
        .prev{
          left: 0;
          transform: rotate(-180deg);
        }
        .next{
          right: 0;
          left: auto;
        }
      }
    }
  }
 &-info,&-image{
    width: 100%;
    float: left;
    min-height: 1px;
    position: relative;
  }
  
  @include resp-min(sm){
    &-info,
    &-image{
      width: 50%;
    }
  }
 
  &-info{
    border-left: 1px solid #fafafa;
    &-header{

    }
    > div{
      padding: 15px 0;
      @extend .cf;
      border-bottom: 1px solid #fafafa;
    }
    &-value{
      &-b{
        @include resp-min(sm){
          border-radius: 11px;
          background-color: #f8f9fb;
          padding: 3px;
        }
        @include resp-max(sm){
          @include color(dark-blue);
        }
      }
    }
    &-price{
      .item-price{
        width: 100%;
        &.default{
          margin-top: 10px;
        }
        p{
          font-size: 27px;
        }
        &--old{
          font-size: 16px;
        }
      }
      .input-group-value{
        margin-top: 15px;
      }
      @include resp-min(sm){
        .btn-to-cart{
          margin-top: 10px;
        }  
      }
      .btn{
        margin-bottom: 5px;
      }
    }
    &-advantage{
      &.bg-grey{
        padding: 20px;
      }
    }
  }
  &-tabs{
    margin-top: 20px;
    margin-bottom: 15px;
  }
  &-video{
    border: 10px solid #e2e2e2;
    height: 210px;
    @include resp-min(xs){
      height: 267px;
    }
    img{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &-block{
      @include resp-min(xs){
        @include resp-max(sm){
          max-width: 380px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
@include resp-min(sm){
  .tab-content-product{
    padding-bottom: 200px !important;
  }
  .charasteristics-wrap{
    position: relative;
    margin-top: -165px;
  }
}
.vendor-code-wrap{
  margin-left: -15px;
  margin-right: -15px;
}
.p-i-v-b{
  padding: 0;
  @include resp-min(sm){
    padding: 0 7.5px;
  }
}
.availability{
  position: relative;
  padding-left: 30px;
  div{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    &:before{
      content: "";
      position: absolute;
      @extend .sprite;
      width: 12px;
      height: 10px;
      left: 50%;
      top: 50%;
      margin-left: -6px;
      margin-top: -4px;
      background-position: -141px -119px;
    }
  }

  &.has-item{
    color: #3bc565;
    div{
      background-color: #3bc565;
    }
  }
  &.no-item{
    color: #f00;
  }
}
.adv-b{
  margin-bottom: 20px;
  &-text{
    padding-left: 25px;
    font-size: 15px;
    @extend .medium;
  }
  position: relative;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    @extend .sprite;
  }
  &-range{
    &:after{
      width: 24px;
      height: 23px;
      margin-top: -11.5px;
      background-position: -269px -8px;
    }
  }
  &-makers{
    &:after{
      width: 19px;
      height: 19px;
      margin-top: -9.5px;
      background-position: -270px -59px;
    }
  }
  &-price{
    &:after{
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-position: -272px -101px;
    }
  }
  &-deliv{
    &:after{
      width: 25px;
      height: 14px;
      margin-top: -7px;
      background-position: -270px -148px;
    }
  }
}
.characteristics{
  @include resp-max(sm){
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  table{
    min-height: 267px;
    thead{
      background-color: #f8f9fb;
      td{
        width: 100%;
        padding-left: 25px;
      }
    }
  }
  tbody{
    tr{
      background-color: #fff;
      td{
        &:first-child{
          @extend .light-blue;
          padding-left: 25px;
        }
        &:last-child{
          text-align: right;
          padding-right: 25px;
        }
      }
    }
  }
}
    
/* ===================== 
Start: SORTING SIMILIAR      
======================== */
.sorting-similiar{
  @include resp-min(xs){
    display: inline-block;
  }
  @include resp-max(xs){
    margin-top: 20px;
    li{
      &:first-child{
        margin-left: 0;
      }
    }
  }
  li{
    @extend .block-inline;
    padding-left: 25px;
    margin-left: 25px;
    @extend .relative;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      @extend .sprite;
      width: 16px;
      height: 16px;
      background-position: -231px -205px;
    }
    &.expensive{
      &:after{
        transform: rotate(-180deg);
      }
    }
  }
  .ss-link{
    font-size: 14px;
    color: #1584cd;
    @extend .bold;
    @extend .relative;
    text-decoration: none;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #1584cd;
      opacity: 1;
      transition: all ease .5s;
    }
    &:hover{
      color: #e06618;
      &:after{
        opacity: 0;
      }
    }
  }
}
/* =====================
End:  SORTING SIMILIAR
======================== */
//PRODUCT INFO BANNER
.p-i-b{
  background-color: #3bbdc5;
  @include resp-min(sm){
    background-color: #1584cd; 
  }
  @include resp-max(sm){
    &.product-info-banner{
      padding-left: 15px;  
    }
  }
  &-i-t{
    @include resp-min(tp){
      @include resp-max(sm){
        text-align: center;
      }
    }
  }
  @include resp-max(tp){
    &-img{
      float: left;
      margin-right: 15px;
    }
    &-inf{
      margin-top: 10px;
      overflow: hidden;
    }
  }
  &-img{
    img{
      max-width: 57px;
    }
  }
  &-name{
    font-size: 16px;
  }
  &-pos{
  
  }
  &-title,
  &-subtitle{
    margin-bottom: 7.5px;
  }
  &-title{
    font-size: 20px;
    @include resp-min(sm){
      @include resp-max(lg){
        font-size: 18px;
      }
    }
  }
  &-subtitle{
    font-size: 14px;
  }
  .leader-text-form{
    &-input-wrap{
      @include resp-max(lg){
        @include resp-min(sm){
          max-width: 70%;  
        }
      }
    }
    input{
      margin-right: 0;
      @include resp-max(xs){
        max-width: 190px;
      }
    }
    input, button{

    }
    button{
      min-height: 38px;
      min-width: 44px;
      position: relative;
      right: 4px;
      top: 4px;
      @include resp-min(xs){
        top: 3px;
      }
      &:after{
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 17px;
        height: 14px;
        margin-top: -7px;
        margin-left: -8.5px;
        @extend .sprite;
        background-position: -253px -206px;
      }
    }
  }
}
.form-anonimus{
  width: 124px;
  height: 27px;
  @extend .sprite;
  background-position: -218px -259px;
  padding: 5px;
  @extend .white;
  @extend .relative;
  top: 3px;
}
//MODAL
.modal{
  &-border{
    .close{
      width: 24px;
      height: 24px;
      
      @include resp-min(sm){
        top: 15px !important;
        right: 15px !important;  
      }
      font-size: 0 !important;
      @extend .sprite;
      background-position: -278px -202px;
    }
    .modal-content{
      border-radius: 0;
      border: 7px solid map-get($colors, "light-blue");
    }
  }
  .title{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .cart-summary{
    margin-top: 20px;
  }
}
//CHANGE VIEW
.change-view{
  @include resp-min(sm){
    margin: 0 12.5px;
  }
  @include resp-min(md){
    margin: 0 25px;
  }
  &-grid,
  &-list{
    display: inline-block;
    width: 18px;
    height: 16px;
    margin: 0 4px;
    transition: none;
    @extend .sprite;
  }
  &-grid{
    background-position: -350px -231px;
    &.active{
      background-position: -289px -232px;
    }
  }
  &-list{
    background-position: -264px -232px;
    &.active{
      background-position: -328px -231px;
    }
  }
}
.change-view,
.category-inline{
  position: relative;
  top: 2px;
}
.checkbox-def{
  input{
    margin: 0;
    display: none;
    &:checked{
      + label{

        &:after{
          display: block;
        }
      }
    }
  }
  label{
    font-size: 14px;
    padding-left: 25px;
    @extend .relative;
    cursor: pointer;
    &:after{
      content: "";
      position: absolute;
      left: 3px;
      top: 4px;
      width: 10px;
      height: 8px;
      display: none;
      @extend .sprite;
      background-position: -313px -237px;
    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #cccccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #f8f8f8;

    }
  }
}
.filter-block{
  border: 1px solid #f4f4f4;
  &-inner{
    @include resp-min(tp){
      @include resp-max(md){
        width: 50%;
        display: inline-block;
        margin-left: -3px;
      }
    }
    padding: 15px;
    @include resp-min(lg){
      padding: 20px 25px 25px;
    }
    border-bottom: 1px solid #f4f4f4;
    &:last-child{
      border-bottom: none;
    }
  }
  .fbt{
    margin-bottom: 10px;
    @extend .bold;
  }
  select{
    background: transparent;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    outline: none;
  }
  .counter{
    @extend .dark-blue;
  }
}
.fb{
  &-row{
    margin-bottom: 5px;
  }
}
.price{
  &-input{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    width: 55px;
    background: none;
    border: none;
    
    &.left{
      float: left;
      text-align: left;
    }
    &.right{
      float: right;
      text-align: right;
    }
  }
  &-btn{
    margin-top: 25px;
    font-size: 14px;
    padding: 10px 25px;
    font-weight: 100 !important;
    &:hover{
      background-color: #00ace0;
    }
  }
  &-choose{
    margin-bottom: 20px;
    input{
      display: inline-block;
      width: 74px;
      height: 24px;
      margin-left: 5px;
      padding-left: 10px;
      border: 1px solid #cccccc;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: #fff;
      outline: none;
    }
  }
  &-range{
    margin-bottom: 20px;
  }
  &-choose,
  &-range{
    max-width: 215px;
  }
}
/* Ширина слайдера */
#slider-price {
  width: 200px;
  @include resp-min(md){
    @include resp-max(lg){
      width: 160px;
    }
  }
}
/* Контейнер слайдера */
.ui-slider {
  position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  @extend .sprite;
  background-position: -309px -202px;
  outline: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
   height: 5px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
  top: -10px;
  margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    background: #00ace0;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
  background: #666666;
}
/* скругление для полосы слайдера */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
