/*===================== 
Start: START FOOTER      
======================== */
.footer{
	@extend .cf;
	margin-top: 8px;
	padding: 0 0 20px;
	@include resp-min(sm){
		padding: 22px 0 55px;
	}
	@include resp-max(sm){
		margin-top: 35px;
		padding-bottom: 26px;
	}
	@include color("white");
	background-color: map-get($colors, "light-blue");
	&-block{
		&-title{
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 22px;
		}
		&-menu{
			font-size: 14px;
			text-decoration: underline;
			li{
				margin-bottom: 15px;
				a{
					@extend .white;
					display: inline-block;
					@extend .hover-link-menu;
					&:after{
						background-color: #40c1e8;
					}
				}
			}
		}
	}
	&-one-height{
		@include resp-min(sm){
			@include resp-max(md){
				min-height: 350px;
			}
		}
	}
	&-cont{
	  @include resp-min(md){
	  	position: relative;
	  	top: 7px;
	  	left: -23px;
	  }
		&-in{
			@extend .relative;
			font-size: 14px;
			padding-left: 36px;
			margin-bottom: 27px;
			&:after{
				content: "";
				position: absolute;
				left: 0;
				top: 2px;
				@extend .sprite;
			}
			&--city{
				&:after{
					width: 25px;
					height: 24px;
					background-position: -67px -87px;
				}
			}
			&--time{
				&:after{
					width: 19px;
					height: 19px;
					background-position: -232px -7px;
				}
			}
			&--phone{
				&:after{
					width: 17px;
					height: 18px;
					background-position: -234px -49px;
				}
				a{
					@extend .bold;
				}
			}
			&--email{
				&:after{
					width: 18px;
					height: 14px;
					background-position: -235px -92px;
				}
			}
			&-title{
				@extend .bold;
			}
			a{
				@extend .white;
				text-decoration: none;
			}
		}
	}
	&-search-block{
		@extend .relative;
		input{
			width: 100%;
			height: 32px;
			-webkit-border-radius: 16px;
			-moz-border-radius: 16px;
			border-radius: 16px;
			background-color: #fff;
			border: none;
		  	padding-left: 15px;
 			padding-right: 45px;
 			@extend .transition;
 			&:focus{
 				-webkit-box-shadow: 0 3px 7px rgba(0,0,0,.23);
				-moz-box-shadow: 0 3px 7px rgba(0,0,0,.23);
				box-shadow: 0 3px 7px rgba(0,0,0,.23);
 			}
		}
		button{
			position: absolute;
			top: 0;
			right: 0;
			@extend .search-circle;
			background-color: #0095c2;
			&:hover{
				background-color: #e06618
			}
		}
		// @include resp-max(tp){
		// 	display: block;
		// }
		@include resp-min(tp){
			@include resp-max(md){
				display: inline-block;
				input{
					width: 250px;
				}
			}
		}
		
	}
	&-btns{
		padding-top: 10px;
		padding-bottom: 10px;	
		margin-bottom: 15px;
		background-color: #0095c2;
		a{
			position: relative;
			display: inline-block;
			@extend .white;
			font-size: 16px;
			&:after{
				content: "";
				position: absolute;
				right: -30px;
				top: 2px;
				width: 17px;
				height: 17px;
				@extend .sprite;
				background-position: -43px -111px;
			}
		}
	}
}
// .search-share-block{
// 	@include resp-max(tp){
// 		text-align: center;
// 	}
// }
.share-wrap-wrap,
.footer-search-block-wrap{
	@include resp-min(tp){
		@include resp-max(sm){
			width: 50%;
			display: inline-block;
			margin-left: -0.5em;
			vertical-align: top;
		}
	}
}
.share{
	&-wrap{
		@include resp-min(sm){
			margin-top: 37px;
		}
		@include resp-max(tp){
			margin-top: 30px;
		}
	}
	&-b{
		@extend .relative;
		display: inline-block;
		width: 38px;
		height: 36px;
		margin-right: 12px;
		&:last-child{
			margin-right: 0;
		}
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@extend .sprite;

		}
		&-fb{
			&:after{
				background-position: -9px -136px;
			}
		}
		&-tw{
			&:after{
				background-position: -63px -136px;
				
			}
		}
		&-vk{
			&:after{
				background-position: -115px -136px;
			}
		}
		&-y{
			&:after{
				background-position: -168px -136px;
			}
		}
		&-ok{
			&:after{
				background-position: -221px -136px;
			}
		}
	}
}
.top-wrap{
	margin-top: 30px;
	@include resp-min(lg){
		position: relative;
		left: 15px;
		margin-top: 70px;
	}
}
#totop{
	@extend .relative;
	display: inline-block;
	width: 56px;
	height: 56px;
	text-align: center;
	color: #006989;
	font-size: 14px;
	padding-top: 60px;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -28px;
		width: 56px;
		height: 56px;
		@extend .sprite;
		background-position: -15px -186px;
	}
	&:hover{
		&:after{
			background-position: -78px -186px;
		}
		p{
			@extend .orange;
		}
	}
}
.copyright{
	@extend .cf;
	@extend .bold;
	@extend .white;
	padding: 17px 0;
	background-color: #0095c2;
	font-size: 14px;
	@include resp-max(sm){
		text-align: center;
		padding: 15px 0;
	}
}
/* =====================
End:  START FOOTER
======================== */